/* General */

body {
	color:#404040;
}

/* Nav */

.container-fluid.nav {
    margin-right: 75px;
    margin-left: 75px;
    padding-right: 0px;
}

.mobile-nav {
	display: none;
}

ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 0px;
    float: right;
    padding: 0px;
    position: relative;
    top: -10px;
}

li {
	font-size: 12px;
	line-height: 35px;
}

nav {
	margin-top: 57px;
	margin-bottom: 57px;
	height:78px;
	font-family: 'Karla', sans-serif;
}

nav h1 {
    margin: 0px;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
}

nav a {
    color: #404040;
    border-bottom: 1px solid #279CF2;
    padding-bottom: 3px;
    text-decoration: none !important;
}

#nav-home {
	border-bottom: none !important;
}

nav a:hover {
	border-color: #C9573C;
}

/* Responsive Nav Styles */
@media(max-width: 865px){
	.container-fluid.nav {
    margin-right: 20px;
    margin-left: 20px;
	}
}

@media (max-width: 600px) {
	.desktop-nav {
		display: none;
	}
	.mobile-nav {
		display: inline-block;
	}
	.container-fluid.nav {
    margin-right: 15px;
    margin-left: 15px;
	}
}

/* Home */

#home-body p {
	font-family: 'Karla', sans-serif;
	font-weight: bold;
	font-size:58px;
	line-height: 68px;
}

#home-body a {
	transition: color 0.5s ease;
	color:#404040;
	text-decoration: none;
	border-bottom: 2px solid #D8D8D8;
	height: 60px;
}

#about-jesse {
    padding-right: 350px;
    margin-bottom: 55px;
}

#projects a {
    display: inline-block;
    font-weight: normal;
}

#projects {
    padding-right: 200px;
}

#projects span {
    font-weight: normal;
}

#teachin-link:hover {
	transition: color 0.5s ease;
	color:#7525FB;
}

#typedash-link:hover {
	transition: color 0.5s ease;
	color:#f3a536;
}

#pol-link:hover {
	transition: color 0.5s ease;
	color:#83a83d;
}

#coco-link:hover {
	transition: color 0.5s ease;
	color:#9DADC4;
}

#portfolio-link:hover {
	color:#808080;
}

.example-enter {
  opacity: 0.01;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 2000ms ease;
}

/* Responsive Home Styles */

@media (max-width: 1200px) {
	#about-jesse {
    padding-right: 0px;
	}
	#projects {
    padding-right: 0px;
	}
	#home-body {
		padding-left: 50px; 
	}
}

@media (max-width: 600px) {
	#home-body {
		padding-right: 15px;
		padding-left: 15px; 
	}
	#home-body p {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
	}
	#home-body a {
    height: 45px;
	}
}



/* Project Styles */

.project-row {
    margin-top:50px;
}

.project-description h1 {
	font-family: 'Karla', sans-serif;
	font-size: 50px;
	font-weight: bold;
	margin-bottom:45px;
}

.project-description p {
	font-family: 'Karla', sans-serif;
	line-height: 44px;
	font-size: 28px;
	font-weight: normal;

}

.project-image {
    position: relative;
    float: none;
    display: inline-block;
    bottom: -60px;
    height:560px;
}

#typedash-A img{
	width: 350px;
	top:50px;
	left:25px;
}

.project-image img {
    width: 650px;
    display: block;
    position: relative;
    bottom: 110px;
    right: 50px;
    z-index: -1;
}

.code-image img {
    max-width: 700px;
    margin-top: 140px;
    margin-bottom: 140px;
    position: relative;
    right: -5px;
}

.code-description {
	margin-top:300px;
	margin-bottom:300px;
}

.code-description p {
	font-size:24px;
	font-family: Karla;
	line-height: 38px;
	padding-left: 50px;
	padding-right: 50px;
}

.feature-row {
	width: 100%;
	background-color: #F5F5F5;
	margin: 0px;
}

.feature-row img {
    width: 1100px;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom:100px;
}

/* Responsive Project Styles */

@media (max-width: 1200px) {
	.feature-row img {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
	}
	.feature-row {
		margin: 0;
		height: initial;

	}
	.feature-row img {
		margin: 20px 0;
	}
	.project-row {
		margin-top:0px;
    	margin-bottom: 20px;
	}
	.project-description {
		width: 100%;
	    max-width: 800px;
	    margin: auto;
	    padding-left: 65px;
	    padding-right: 65px;
	}
	.project-description p {
		font-size: 24px;
	}
	.project-description h1 {
	    font-family: 'Karla', sans-serif;
	    font-size: 40px;
	    margin-bottom: 25px;
	}
	.project-image, .code-image {
	    display: none;
	}
	.code-description {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 800px;
	}
}

@media (min-width: 1200px){
	.code-description {
		padding: 0px;
	}
	.code-description p {
		padding-right: 120px;
	}
}
/* Footer Styles */

footer {
	background-color: #F5F5F5;
	height:115px;
}

.project-link {
    font-family: Karla;
    font-size: 20px;
    line-height: 23px;
    color: #7A7A7A !important;
    margin-top: 50px;
    text-decoration: none !important;
}

.project-link:hover {
	color: #404040;
    border-bottom: 1px solid #279CF2;
    padding-bottom: 3px;
}

.previous-link {
	margin-left: 140px;
	float: left;
}

.next-link {
	margin-right: 140px;
	float: right;
}

@media (max-width: 600px) {
	.next-link {
		margin-right: 15px;
		margin-left:5px;
	}
	.previous-link {
		margin-left: 15px;
		margin-right:5px;
}
}